/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Actual start */

body {
  font-family: 'Play', sans-serif;

  background: #000;
  color: #fff;

  --color-theme-darker: hsl(203, 35%, 10%);
  --color-theme-dark: hsl(203, 35%, 15%);
  --color-theme-highlight: hsl(42, 95%, 75%);
}

.t-left { text-align: left; }
.t-right { text-align: right; }
.t-center { text-align: center; }

a {
  color: var(--color-theme-highlight);
  text-decoration: none;
}

table {
  background: var(--color-theme-darker);
  padding: 5px;
  border-radius: 5px;
}

table th,
table td {
  padding: 0.5em 1em;
}
table tbody tr:nth-child(odd) {
  background: var(--color-theme-dark);
}

select {
  background: var(--color-theme-dark);
  color: #fff;

  font: inherit;
  border-radius: 5px;
  border: 0px none;
  padding: 0.25em 0.5em;
}

#module-selector {
  background: var(--color-theme-highlight);
  color: #000;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  padding: 0.5em 0em;
}

.options > * + * {
  margin-left: 1em;
}